<!DOCTYPE html>
<html lang="en" style="padding-left:35%;padding-top:15%;user-select:none;background:#000d1a">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        .row{
             font-size:20px;
             border
        }
        input{
            border-radius:20px;
            outline:none;
            padding-left:2%;
            padding-right:2%;
            font-weight:bold;
            border:2px solid grey;
            height:30px;
            width:300px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body >
    <form action="" method="post">
     <table class="row table" >
         {{ form.as_table }}
         <tr>
             <td>&nbsp;</td>
             <td><input type="submit" class="button is-rounded" value="{{action}}"></td>
         </tr>
     </table>
     {% csrf_token %}
     </form>
</body>
</html>