<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <title>{{title}}</title>
</head>
<body style="padding-left:300px;user-select:none">
    <table class="table is-hoverable">
         <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td><a href="/logout" class="button is-rounded row">Logout</a></td><td><a href="/colleges/add_st/{{college_id}}" class="button is-rounded row">Add Student</a></td></tr>
        <th>Name</th><th>Email</th><th>Marks</th><th>&nbsp;</th><th>&nbsp;</th>
    {% for student in students %}
        <tr >
        <td >{{student.name}}</td>
        <td >{{student.email}}</td>
        <td >{{student.mocktest1__total}}</td>
        <td><a href="/colleges/edit_st/{{college_id}}/{{student.id}}">Edit</a></td>
        <td><a href="/colleges/del_st/{{college_id}}/{{student.id}}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>