<!DOCTYPE html>
<html lang="en" style="padding-left:20%;user-select:none;background:#000d1a;">
<head >
    <meta charset="UTF-8">
    <title>Colleges|Online App</title>
    <style>
        .row{
             background:#000d1a;
             border-color:#000000;
             color:#FFFFFF;
             transition: all 0.3s;
        }
        .row:hover{
            color:#000000;
            background:#FFFFFF;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body >
    <table class="table is-hoverable">
        <caption class="title is-1" style="color:#FFFFFF;">Mentor APP</caption>
         <tr style="background:#000d1a"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td><a href="/logout" class="button is-rounded row">Logout</a></td><td><a href="/addcollege" class="button is-rounded row">Add College</a></td></tr>
        <th>Code</th><th>College Name</th><th>Location</th><th colspan="3">Actions</th>
        <tr style="background:#000d1a"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    {% for college in jails %}
        <tr class="row is-rounded">
            <td>
                {{college.acronym}}
            </td>
            <td>
                {{ college.name }}
            </td>
            <td>
                {{college.location}}
            </td>
            <td>
                <a href="/addcollege/{{college.acronym}}">Edit</a>
            </td>
            <td>
                <a href="/delcollege/{{college.acronym}}">Delete</a>
            </td>
            <td>
                <a href="{{college.acronym}}">View Students</a>
            </td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>