<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{error_message}}
        <table class="table">
            <tr>
                <td>User Name</td>
                <td><input type="text" name="username" required> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required> </td>
            </tr>
            <tr>
                <td><a href="/Signup/" class="button is-rounded">Sign Up</a></td>
                <td><input type="submit" class="button is-rounded" value="Login"></td>
            </tr>
        </table>
    </form>
</body>
</html>