<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        <table class="table">
            <tr>
                <td>Name :</td><td>{{sform.name}}</td>
            </tr>
            <tr>
                <td>Email :</td><td>{{sform.email}}</td>
            </tr>
            <tr>
                <td>DB Folder :</td><td>{{sform.db_folder}}</td>
            </tr>
            <tr>
                <td colspan="2">Marks</td>
            </tr>
            <tr>
                <td>Problem1:</td><td>{{mform.problem1}}</td>
            </tr>
            <tr>
                <td>Problem2:</td><td>{{mform.problem2}}</td>
            </tr>
            <tr>
                <td>Problem3:</td><td>{{mform.problem3}}</td>
            </tr>
            <tr>
                <td>Problem4:</td><td>{{mform.problem4}}</td>
            </tr>
            <tr>
                <td>Dropped Out</td><td>{{sform.dropped_out}}</td>
            </tr>
            <tr>
                <td><input type="submit" class="button is-rounded" value="{{action}}"></td>
            </tr>
        </table>
    </form>
</body>
</html>