<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
    <table class="table">
    <tr>
        <td>First Name :</td>
        <td><input type="text" name="first_name" required></td>
    </tr>
    <tr>
        <td>Last Name :</td>
        <td><input type="text" name="last_name" required></td>
    </tr>
    <tr>
        <td>Email :</td>
        <td><input type="email" name="email" required></td>
    </tr>

    <tr>
        <td>User Name :</td>
        <td><input type="text" name="username" required></td>
    </tr>
    <tr>
        <td>Password :</td>
        <td><input type="Password" name="password" required></td>
    </tr>
    <tr>
        <td><a href="/login_user/" class="button is-rounded">Login</a></td>
        <td><input type="submit" class="button is-rounded" value="SignUp"></td>
    </tr>
    </table>
    </form>
</body>
</html>